.navbar{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 60px;

background:#020617;

color:white;

}


.logo{

font-size:26px;
font-weight:700;

color:#38bdf8;

}


.nav-links{

display:flex;
gap:35px;

}


.nav-links a{

color:#cbd5e1;

font-size:16px;

transition:0.3s;

}


.nav-links a:hover{

color:#38bdf8;

}