.synthetic-page {
    padding: 40px;
    color: white;
}

.subtitle {
    margin-bottom: 30px;
    color: #94a3b8;
}


.user-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}


.user-card {
    background: #111827;
    padding: 25px;
    border-radius: 15px;
    border: 1px solid #334155;
}


.user-card h2 {
    color: #38bdf8;
}