/* App.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.app {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}